node_modules/
vendor/
# public/package-lock.json
# composer.lock
test/test.php
.env
backend/db/database.db
backend/db/tree.db
backend/db/statistics.db
public/public_data/*
!public/public_data/.gitkeep