RewriteEngine on

<FilesMatch "^\.">
    Require all denied
</FilesMatch>

# If subdomain is “test” followed by any IP or localhost, redirect to /test/
RewriteCond %{HTTP_HOST} ^test\.((localhost)|([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+))$ [NC]
RewriteCond %{REQUEST_URI} !^/test/
RewriteRule ^(.*)$ /test/$1 [L]

# Redirect to /public/ if the URI does not contain /public/ and the host does not begin with “test.”
RewriteCond %{HTTP_HOST} !^test\. [NC]
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]