@import './themes/hk13';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @extend .darktheme;
    background-color: var(--background);
    color: var(--fg);
    font-family: 'Atkinson Hyperlegible Mono', monospace;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4040;
    border-bottom: 1px solid var(--background);
    background: var(--background-op);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 100%;

    display: flex;
    justify-content: space-between;

    &.absolute{
        position: absolute;
    }

    >div {
        display: flex;
        align-items: center;
        gap: 9px;
        padding: 10px;

        .logo {
            $size: 45px;
            height: $size;
            width: $size;
        }

        .inputgroup {
            display: flex;
            align-items: center;
            // gap: 5px;
            background: var(--cards-op);
            font-size: 16px;
            border-radius: 99px;
            padding: 6px 12px;
            gap: 9px;
            border: 1px solid var(--cards);
            filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.25));

            input,
            button {
                background: none;
                border: none;
                padding: 0;
                outline: none;
            }

            input {
                width: 170px;
                color: var(--fg);
            }

            button {
                cursor: pointer;

                svg {
                    height: 17px;
                    width: 17px;
                    stroke: var(--fg);
                }
            }
        }
    }
}

.main-content {
    display: flex;

    main,
    aside {
        flex-shrink: 0;
        // height: calc(100vh - 70px);
    }

    main {
        flex: 1;
        background-color: var(--background-op);
        position: relative;
    }

    aside {
        position: sticky;
        top: 0;
        left: 0;
        width: 200px;
        height: calc(100vh);
        border-right: 1px solid var(--cards);
        background: var(--cards-op);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        transition: .4s;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.little {
            width: 80px;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 9px;
            padding: 10px;
            cursor: pointer;
            transition: .4s;
            text-align: center;
            margin-top: 3px;

            img {
                $size: 35px;
                height: $size;
                width: $size;
            }

            h1 {
                color: var(--fg);
                font-size: 20px;
            }
        }

        hr {
            border: 1px solid var(--background);
        }

        nav {
            padding: 20px;
            flex: 1;

            a {
                text-decoration: none;
                color: var(--sfg);
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 6px;

                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 3px 0;

                    svg {
                        height: 19px;
                        width: 19px;
                    }

                    &:hover {
                        color: var(--fg);
                    }

                    &.active {
                        color: var(--accent);
                    }

                }
            }
        }

        .version {
            text-align: center;
            padding: 5px 0;
            font-size: 12px;
        }
    }
}

#mainCoverImageBackground {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 87vw;
    height: 75vh;
    filter: blur(100px);
    z-index: -1;
}

#homeSlider {
    height: 60vh;
    overflow: hidden;

    li {

        .content {
            position: relative;
            width: 100%;
            height: 100%;

            .mainCoverImage {
                width: 100%;
                height: 60vh;
                object-fit: cover;

            }

            .filterGradient {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, var(--background-op) 0%, var(--background) 98%);
                // allow click
                pointer-events: none;
            }
        }

        .topleft{
            position: absolute;
            top: calc(50px + 20px);
            left: 50px;

            z-index: 3;

            .stats{
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 13px;

                a{
                    text-decoration: none;
                    color: var(--fg);
                    opacity: 1;

                    span{
                        background-color: var(--blue);
                    }

                    &:hover span{
                        opacity: .6;
                    }
                }

                span{
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    padding: 4px 9px;
                    background-color: var(--cards);
                    border-radius: 99px;

                    i,svg{
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }

        .right{
            position: absolute;
            bottom: 50px;
            right: 50px;
            z-index: 3;
            color: var(--fg);
            font-size: 12px;

            .category{
                display: flex;
                flex-direction: column;
                gap: 10px;
                z-index: 4;

                a{
                    text-decoration: none;
                    color: var(--fg);
                }

                &__item{
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    width: 330px;
                    border-radius: 99px;
                    backdrop-filter: blur(12px);
                    -webkit-backdrop-filter: blur(12px);
                    padding: 6px 9px;
                    background-color: var(--cards-op);
                    border: 1px solid var(--cards);
                    overflow: hidden;
                    transition: .4s;

                    img{
                        height: 40px;
                        width: 40px;
                        border-radius: 100%;
                        object-fit: cover;
                    }

                    .info{
                        display: flex;
                        flex-direction: column;
                        gap: 3px;

                        p.name{
                            // max 1 line
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 100%;
                            line-clamp: 1;
                            -webkit-line-clamp: 1;
                            transition: .4s;
                        }

                        p.numberContents{
                            font-size: 10px;
                            color: var(--sfg);
                            // max 1 line
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 100%;
                            line-clamp: 1;
                            -webkit-line-clamp: 1;
                        }
                    }

                    &:hover{
                        border: 1px solid var(--accent);

                        .info p.name{
                            color: var(--accent);
                        }
                    }
                }
            }
        }

        .bottomleft{
            width: 100%;
            .buttons{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 10px;
                position: absolute;
                bottom: 50px;
                left: 50px;
                z-index: 3;
                
                a{
                    text-decoration: none;
                    cursor: pointer;
                }

                button{
                    display: flex;
                    align-items: center;
                    gap: 9px;
                    cursor: pointer;

                    padding: 9px 12px;
                    border-radius: 9px;
                    border: none;
                    background-color: var(--cards-op);
                    backdrop-filter: blur(12px);
                    -webkit-backdrop-filter: blur(12px);
                    transition: .4s;
                    color: var(--fg);
                    font-size: 16px;

                    &.primary{
                        // border: 1px solid var(--accent);
                        background-color: var(--accent);
                        color: var(--background);
                    }

                    i, svg{
                        height: 16px;
                        width: 16px;
                    }

                    &:hover{
                        opacity: .6;
                    }
                }
            }
        }
    }

    .splide__arrow{
        background-color: var(--cards);
        opacity: 1;
        height: 50px;
        border-radius: 99px;
        font-size: 12px;

        svg{
            fill: var(--fg);
        }

        &:hover{
            background-color: var(--accent);
        }
    }

    .splide__pagination{
        .splide__pagination__page{
            width: 19px;
            height: 9px;
            background-color: var(--fg);
            border-radius: 99px;
            opacity: 1;
            transition: .6s;

            &.is-active{
                width: 35px;
                transform: scale(1);
                background-color: var(--accent);
            }
        }
    }
}

main .inn {
    background-color: var(--background);
}

section {
    padding: 20px;

    .leftTitle {
        display: flex;
        align-items: center;
        gap: 9px;
        padding: 10px;
    }
}

.dernierContenu {
    display: flex;
    gap: 20px;

    >div {
        flex: 1;
    }
}

.login {
    .background {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;

        div.dot {
            position: relative;
            width: 100%;
            height: 100%;

            svg {
                position: relative;
                width: 100%;
                height: 100%;
                inset: 0;
                // fill: rgba(255, 255, 255, 0.2);
                fill: var(--cards-alt);
                mask-image: radial-gradient(white, transparent 85%);
            }
        }

        z-index: -1;
    }

    .ccenter {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        text-align: center;

        padding: 20px;
        background: var(--background);
        border: 1px solid var(--cards);
        border-radius: 16px;

        .icon {
            border: 1px solid var(--cards-alt);
            border-radius: 100%;
            padding: 10px;
            margin: 0 auto;

            position: relative;

            $size: 64px;
            height: $size;
            width: $size;
            background-color: var(--background);
            z-index: 2;

            svg,
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                $size: 36px;
                height: $size;
                width: $size;
            }
        }

        h1 {
            color: var(--fg);
            font-size: 20px;
            margin: 12px 0;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
            transition: .4s;

            .inputgroup {
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--cards);
                border-radius: 3px;
                padding: 6px 12px;
                gap: 9px;

                input {
                    background: none;
                    border: none;
                    padding: 0;
                    outline: none;
                    flex: 1;
                    color: var(--fg);
                    font-size: 20px;
                }

            }

            button {
                z-index: -99;
                cursor: pointer;
                transform: translateY(-100%);
                opacity: 0;
                transition: .3s;
                background: var(--accent);
                padding: 6px 0;
                border-radius: 3px;
                color: var(--fg);
                font-size: 20px;
                border: none;
                height: 0;

                &.active{
                    z-index: 1;
                    cursor: pointer;
                    transform: translateY(0);
                    opacity: 1;
                    height: auto;
                }

                &:hover{
                    opacity: .6;
                }
            }
        }
    }
}

section.category{
    .categorybox{
        display: flex;
        gap: 14px;
        flex-wrap: wrap;
        a{
            text-decoration: none;
        }
        
        &__item{
            display: flex;
            max-width: 100%;

            overflow: hidden;
            padding: 6px 12px;
            border-radius: 99px;
            align-items: center;
            gap: 6px;
            background-color: var(--cards-op);
    
            p.name{
                color: var(--fg);
                font-size: 13px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 100%;
                line-clamp: 1;
                -webkit-line-clamp: 1;
                font-size: 15px;
            }
        }
    }
}