@import './themes/hk13';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    @extend .darktheme;
    background-color: var(--background);
    font-family: 'Atkinson Hyperlegible Mono', monospace;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    > div{
        display: flex;
        align-items: center;
        gap: 9px;
        padding: 10px;

        .logo{
            $size: 45px;
            height: $size;
            width: $size;
        }
    }
}